@model Grupp3_Login.Models.CreateAccountDto

@{
    ViewData["Title"] = "Skapa Nytt Konto";
}

<h1 style="color:white">@ViewData["Title"] </h1>

<form asp-action="Register" method="post">
    <div class="mb-3" style="color:white;">
        <label for="UserName" class="form-label">Användarnamn</label>
        <input type="text" class="form-control" id="UserName" name="UserName" required />
    </div>

    <div class="mb-3" style="color:white;">
        <label for="Password" class="form-label">Lösenord</label>
        <input type="password" class="form-control" id="Password" name="Password" required />
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary" style="background-color:#FF00FF; color:white; outline: 1px solid white;">Skapa Konto</button>
        <a href="@Url.Action("Login", "Home")" class="btn btn-secondary" style="background-color:#FF00FF; color:white; outline: 1px solid white;">Avbryt</a>
    </div>
</form>
